.create-field {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  position: relative;
  color: #fbf1c7;
  border: 1px solid gray;
  text-align: left;
  outline: none;
  z-index: 1;

  width: 750px; 
  height: 100vh;          
  white-space: pre-wrap;
}