body {
  margin: 0;
  padding: 0;
}

.sidebar-container {
  font-family: 'Inter', sans-serif;
  position: fixed;
  left: 0;
  z-index: 999999;
  display: flex;
  pointer-events: auto;
}

.rectangle {
  background: #1d2021;
  position: relative;
  height: 800vh;
  width: 200px;
  height: 100vh;
  padding: 0px;
  z-index: 2;
  pointer-events: auto;
}

.rectline {
  background: #3c3836;
  position: relative;
  top: 0px;
  width: 1px;
  height: 100vh;
  z-index: 1;
  pointer-events: auto;
}

.sidebar-button {
  position: absolute; 
  top: 20px;
  right: -48px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #282828;
  border-radius: 6px;
  z-index: 2000;
}

.sidebar-button i {
  font-size: 24px;
  color: #ebdbb2;
}

.sidebar-button:hover i {
  color: #fb4934;
}