.fa-solid.fa-user {
    position: absolute;
    left: 97%;
    font-size: 28px;
    color: #fbf1c7;
}

.fa-solid.fa-user:hover {
  color: #fb4934;
}

.signout-button {
    position: absolute;
    left: 96.7%;
    top: 4%;
    font-size: 12px;
    color: #fbf1c7;
}

.signout-button:hover {
  color: #fb4934;
}