.load-options {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.option:hover {
  color: #cc241d;
}

.option {
  color: #fbf1c7;
  font-size: 20px;
  border: none;
  background: transparent;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}