.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #fabd2f;
}

.pre-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-stuff {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.25rem;
}

.bottom-stuff {
  margin-top: 0.25rem;
  text-align: center;
  align-self: center;
  font-size: 11px;
}

.load-field {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  position: relative;
  color: #fbf1c7;
  border: 1px solid gray;

  line-height: 1.6;

  width: 900px;
  height: 500vh;
  text-align: left;
  z-index: 1;
  white-space: pre-wrap;
  margin-top: 10px;
}

.loading {
  position: absolute;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  color: #fabd2f;
  width: 100%;
  left: 0%;
  top: 25%;
}

.empty-line {
  height: 30px;
}

.header1,
.header2,
.header3,
.header4,
.header5,
.header6 {
  display: block;
}

.header1 {
  color: #cc241d;
  font-size: 48px;
}

.header2 {
  color: #d79921;
  font-size: 40px;
}

.header3 {
  color: #98971a;
  font-size: 32px;
}

.header4 {
  color: #689d6a;
  font-size: 24px;
}

.header5 {
  color: #458488;
  font-size: 16px;
}

.header6 {
  color: #b16286;
  font-size: 14px;
}

