.postTitle {
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #fabd2f;
  margin: 0 auto;         /* keeps it centered */
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;  
}

.editorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center; /* centers children horizontally */
  align-items: flex-start; /* align to top (or use center for vertical centering too) */
  gap: 1rem;
}

.editorContainer > * {
  flex: 0 0 auto; /* don’t grow or shrink */
}

.rawContainer {
  position: relative;
  flex: 0 0 auto;
  width: 750px; 
  height: 100px;       /* match Raw height */
}

.i-hate-css-so-much {
  height: 30px;
}

.header1 {
  color: #cc241d;
  font-size: 48px;
}

.header2 {
  color: #d79921;
  font-size: 40px;
}

.header3 {
  color: #98971a;
  font-size: 32px;
}

.header4 {
  color: #689d6a;
  font-size: 24px;
}

.header5 {
  color: #458488;
  font-size: 16px;
}

.header6 {
  color: #b16286;
  font-size: 14px;
}