.create-options-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.create-options {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.option:hover {
  color: #cc241d;
}

.option {
  color: #fbf1c7;
  padding: 10px;
  font-size: 20px;
  border: none;
  background: transparent;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.unauth-msg {
  color: #fb4934;
}