.file-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.file {
  font-size: 20px;
  color: #ebdbb2;
  transition: color 0.2s ease;
}

.file:hover {
  color: #fb4934;
}

.file.active {
  color: #8ec07c;
}

.fas.fa-file-alt {
  font-size: 20px;
  color: black;
  margin-top: 5px;
}

